/*@font-face {
    font-family: 'Anton';
    src: local('Anton'), url("../fonts/AquilineTwo.ttf") format('truetype');
}*/
@font-face {
  font-family: "headingfont";
  src: local("headingfont.woff2"),
    url("./fonts/headingfont.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Black";
  src: local("Roboto-Black"), url("./fonts/Roboto-Black.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), url("./fonts/Helvetica.ttf") format("truetype");
  font-display: swap;
}
