@use "./variables" as *;
//flex containers
@mixin flexContainer($direction) {
  display: flex;
  align-items: center;
  flex-direction: $direction;
}

/*
fonts
*/
@mixin headingFont($color, $size) {
  color: $color;
  font-family: "headingfont";
  font-size: $size;
  text-transform: uppercase;
}

@mixin primaryFont($color, $size, $weight) {
  color: $color;
  font-family: "RobotoFlex-VariableFont", Tahoma, sans-serif;
  font-size: $size;
  font-weight: $weight;
  text-align: left;
}

@mixin subHeading($color, $size) {
  @include heroFont($color, $size);
}

/*
buttons
*/
@mixin primaryButton($color, $size, $weight, $btn-clr) {
  @include primaryFont($color, $size, $weight);
  padding: 0.5em 1em;
  background-color: $accent-clr;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $btn-clr;
    padding: 0.5em 1.5em;
    transform: translateX(-410px);
    transition: all ease-in-out 1s;
    z-index: -1;
  }
  &:hover,
  &:focus {
    &::before {
      width: 100%;
      height: 100%;
      animation: btnSlideRight linear 0.5s 0s forwards;
    }
  }
}

/*
Links
*/
@mixin primaryLink($color, $size, $weight) {
  @include primaryFont($color, $size, $weight);
  cursor: pointer;
  text-decoration: underline;
}

/*
Parallax Background
*/

@mixin scrollingBG($Z) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $Z;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
