/*
Colors
*/
$primary-clr: rgb(33, 33, 33);
$primary-text-clr: white;
$accent-clr: #9ed1d7;
$accent-clr2: #bf9f63;
$accent-clr3: #839ea0;
$other-clr: hsl(0, 0%, 20%);

/*
Fonts
*/
$primary-font: "Roboto-Regular", Tahoma;
$heading-font: "Anton", sans-serif;
$emphasis-font: "Roboto-Black", Arial;
$trustpilot-font: "Helvetica", sans-serif;

/*
Font weights
*/
